.banner {
    padding: 27px 0 8px;
    margin-left: -8px;
    margin-right: -8px;
    box-sizing: border-box;
}
.banner * {
    box-sizing: border-box;
}


.banner::after {
    content: '';
    display: table;
    clear: both;
}

.banner-item {
    margin-bottom: 14px;
    width: 10%;
    padding: 0 8px;
    float: left;
}
.banner-item:hover {
    opacity: .85;
}

.banner-card {
    display: block;
    border-radius: 3px;
    border: 1px solid #dddddd;
    position: relative;
    overflow: hidden;
    padding-top: 58%;
}

.banner-card span{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 2em;
    font-weight: 700;
    /*text-shadow: 2px 3px 0 rgba(0, 0, 0, 1);*/
}

.banner-card img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .5;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 720px) {
    .banner-item {
        width: 16.6666%;
        display: none;
    }

    .banner-item--12 {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .banner-item {
        width: 33.3333%;
        display: none;
    }

   .banner-item--6 {
        display: block;
    }
}