


/* Start:/bitrix/templates/motorus2/components/bitrix/news.list/spares_brands/style.css*/
.brands-list-column {
  margin-left: 2%;
  float: left;
  width: 31%;
}
.brands-list-column.first-child,
.brands-list-column:first-child {
  padding-left: 0;
}
.brands-list-item {
  margin-top: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 2px #e4e4e4;
  -moz-box-shadow: 0 2px #e4e4e4;
  box-shadow: 0 2px #e4e4e4;
  border: solid 1px #d9d9d9;
}
.brands-list-item .item {
  padding: 20px 22px;
  overflow: hidden;
  position: relative;
}
.brands-list-item .item-image {
  height: 104px;
  overflow: hidden;
  position: relative;
}
.brands-list-item .item-image img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.brands-list-item .item-title {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-family: "Ubuntu", sans-serif;
  white-space: nowrap;
  color: #0d80bb;
  padding-top: 20px;
}
.brands-list-item a.item-read-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
.brands-list-item .search-panel {
  display: none;
  background-color: #fafafa;
  -webkit-box-shadow: 0 -1px rgba(226, 226, 226, 0.75), inset 0 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 -1px rgba(226, 226, 226, 0.75), inset 0 1px rgba(255, 255, 255, 0.75);
  box-shadow: 0 -1px rgba(226, 226, 226, 0.75), inset 0 1px rgba(255, 255, 255, 0.75);
  background-image: -webkit-linear-gradient(bottom, #fafafa, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.47) 47%, rgba(244, 243, 243, 0.99) 99%, #f4f3f3);
  background-image: -moz-linear-gradient(bottom, #fafafa, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.47) 47%, rgba(244, 243, 243, 0.99) 99%, #f4f3f3);
  background-image: -o-linear-gradient(bottom, #fafafa, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.47) 47%, rgba(244, 243, 243, 0.99) 99%, #f4f3f3);
  background-image: -ms-linear-gradient(bottom, #fafafa, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.47) 47%, rgba(244, 243, 243, 0.99) 99%, #f4f3f3);
  background-image: linear-gradient(to top, #fafafa, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.47) 47%, rgba(244, 243, 243, 0.99) 99%, #f4f3f3);
}
.brands-list-item .search-panel-quick-search {
  padding: 23px 22px 18px 22px;
}
.brands-list-item .search-panel-quick-search form {
  text-align: center;
}
.brands-list-item .search-panel-quick-search input {
  margin: 0;
  padding: 0 2%;
  text-align: center;
  color: #575757;
  font-size: 14px;
  line-height: 16px;
  font-family: "Ubuntu", sans-serif;
  width: 94%;
  height: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 1px #ffffff, inset 0 2px 3px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 1px #ffffff, inset 0 2px 3px rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px #ffffff, inset 0 2px 3px rgba(0, 0, 0, 0.22);
  border: solid 1px #e4e4e4;
  background-image: -webkit-linear-gradient(bottom, #ffffff, #ededed 99%);
  background-image: -moz-linear-gradient(bottom, #ffffff, #ededed 99%);
  background-image: -o-linear-gradient(bottom, #ffffff, #ededed 99%);
  background-image: -ms-linear-gradient(bottom, #ffffff, #ededed 99%);
  background-image: linear-gradient(to top, #ffffff, #ededed 99%);
}
.brands-list-item .search-panel-list {
  padding: 0;
  list-style: none;
  margin: 0 22px 17px 22px;
  max-height: 284px;
}

.search-panel-list .scroll-pane {
  max-height: 284px;
  width: 100%;
  overflow-y: scroll;
}
.brands-list-item .search-panel-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.brands-list-item .search-panel-list ul li {
  margin-bottom: 8px;
  padding-left: 22px;
  background: url('/bitrix/templates/motorus2/components/bitrix/news.list/spares_brands/images/bullet.png') 0 4px no-repeat;
}

.brands-list-item .search-panel-list ul li a {
  color: #0d80bb;
  text-decoration: none;
  cursor: pointer;
}

.brands-list-item .search-panel-list ul li a:hover {
   color: #0D808A;
}

.brands-list-item .search-panel-show-more {
  padding: 0 22px 17px 22px;
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  display: none;
}
.brands-list-item .search-panel-show-more a {
  color: #0d80bb;
  text-decoration: none;
  border-bottom: 1px dashed #0d80bb;
}
.brands-list-item .search-panel-show-more a:hover {
  border-bottom: none;
}
.brands-list-item .search-panel-close a {
  font-size: 0;
  line-height: 0;
  text-indent: -99999px;
  overflow: hidden;
  display: block;
  height: 9px;
  background: #f0f0f0 url('/bitrix/templates/motorus2/components/bitrix/news.list/spares_brands/images/arrow_up.png') 50% 0 no-repeat;
}
/* End */
/* /bitrix/templates/motorus2/components/bitrix/news.list/spares_brands/style.css */
